img{
    border: 2px solid rgb(19, 6, 7);
    width:110px;
    height:110px;
}

img:hover{
    border:3px solid rgba(150, 57, 60, 0.5);
    background-color: rgba(150, 57, 60, 0.274);
}

img:focus{
    border:3px solid rgb(150, 57, 60);
}