@font-face {
    font-family: 'dst';
    src: url(./fonts/belisa_plumilla.ttf);
}

.preview{
    position: relatve;
    /* background-color: aqua; */
}

.name{
    font-family: dst;
    font-size: 5em;
    position: absolute;
    top: 0;
    left: 0;


}

.preview img {
    width: 300px; /* Set the image width to 100% of its container */
    height: auto; /* Maintain aspect ratio */
    margin: 0 auto; /* Center the image horizontally */
  }
