@font-face {
    font-family: 'dst';
    src: url(./fonts/belisa_plumilla.ttf);
}


.name{
    /* background-color: blueviolet; */
    font-family: dst;
    font-size: 5em;
    position: absolute;
    top: -120px;
    left:75%;


}

.portrait {
    width: 300px;
    height: auto; /* Maintain aspect ratio */
  }

.preview{
    position: relative;
    /* background-color: brown; */
    /* display: inline-block */
}

.stats{
    /* background-color: blueviolet; */
    position: absolute;
    top:0;
    left:100%;

}